@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
    font-size: 50px;
}
.card {
    height: 150px;
    width: 100px;
    min-width: 100px;
    min-height: 150px;
}

.card-border {
    height: 150px;
    width: 100px;
    border: 2px solid lightblue;
    padding: 0;
}

img {
    height: 146px;
    width: 96px;
    border-radius: 10px;
    border: 1px inset black;
}

.absolute-card {
    position: absolute;
}
