@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
    font-size: 50px;
}
.card {
    height: 300px;
    width: 200px;
    min-width: 200px;
    min-height: 300px;
}

.card-border {
    height: 300px;
    width: 200px;
    border: 2px solid lightblue;
}